<!DOCTYPE html>
<html>

<head>

<title>Admin Dashboard</title>

<link rel="stylesheet"
href="/static/style.css">

</head>

<body>

<div class="navbar">

<div class="logo">

Placement Management System

</div>

<div class="nav-links">

<a href="/">

<button class="nav-btn">

Home

</button>

</a>

<a href="/register/">

<button class="nav-btn">

Student Registration

</button>

</a>

<a href="/login/">

<button class="nav-btn">

Student Login

</button>

</a>

<a href="/admin-login/">

<button class="nav-btn active-nav">

Admin Login

</button>

</a>

</div>

</div>

<div class="dashboard-container">

<h1>

Admin Dashboard

</h1>

<br>

<a href="/add-company/">

<button class="apply-btn">

Add Company

</button>

</a>

<h2>

Companies

</h2>

<table>

<tr>

<th>

Company ID

</th>

<th>

Company

</th>

<th>

Role

</th>

<th>

Package

</th>

</tr>

{% for company in companies %}

<tr>

<td>

{{company.company_id}}

</td>

<td>

{{company.company_name}}

</td>

<td>

{{company.role}}

</td>

<td>

₹ {{company.package}}

</td>

</tr>

{% endfor %}

</table>

<br><br>

<h2>

Applications

</h2>

<table>

<tr>

<th>

Student USN

</th>

<th>

Student Name

</th>

<th>

Company

</th>

<th>

Resume

</th>

</tr>

{% for application in applications %}

<tr>

<td>

{{application.student.student_id}}

</td>

<td>

{{application.student.name}}

</td>

<td>

{{application.company.company_name}}

</td>

<td>

<a href="{{application.resume.url}}"
target="_blank">

<button class="apply-btn">

View Resume

</button>

</a>

</td>

</tr>

{% endfor %}

</table>

</div>

</body>

</html>