<!DOCTYPE html>
<html>

<head>

<title>Placement Management System</title>

<link rel="stylesheet"
href="/static/style.css">

</head>

<body>

<div class="navbar">

<div class="logo">

Placement Management System

</div>

<div class="nav-links">

<a href="/">

<button class="nav-btn active-nav">

Home

</button>

</a>

<a href="/register/">

<button class="nav-btn">

Student Registration

</button>

</a>

<a href="/login/">

<button class="nav-btn">

Student Login

</button>

</a>

<a href="/admin-login/">

<button class="nav-btn">

Admin Login

</button>

</a>

</div>

</div>

<div class="welcome-page">

<h1>

Welcome to Student Placement Portal

</h1>

</div>

</body>

</html>